---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Ticker from '../components/sections/Ticker.astro';
import Services from '../components/sections/Services.astro';
import Mentality from '../components/sections/Mentality.astro';
import CTA from '../components/sections/CTA.astro';
import ContactForm from '../components/sections/ContactForm.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Ticker />
		<Services />
		<Mentality />
		<CTA />
		<ContactForm />
	</main>
	<Footer />
</Layout>
